<h1>New dm </h1>
<%= link_to 'Start New Conversation', new_conversation_path %> <br />

<h2>Current Conversations</h2>
<% @conversations.each do |convo| %>
    <%= link_to convo.users.last.first_name, convo %>
<% end %>