<div class="row">
    <div class="col">
        <p>
            <%= @user.first_name %> <%= @user.last_name %> <br />
            Country: <%= @user.location.country %> <br />
            State: <%= @user.location.state %> <br />
        </p>
    </div>
    <div class="col">
        Post to Profile Form
    </div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col">
        Posts from Friends and ourselves
    </div>
</div>