<div class="list-group">
    <% @boards.each do |board| %>
        <%= link_to board, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= board.name %></h5>
            </div>
            <p class="mb-1"><%= board.description %></p>
        <% end %>
    <% end %>
</div>
